body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/* header section */

.container, h1 {
    padding-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

/* hero section */
.hero {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

.container {
    max-width: 420px;
}

.text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub, .img-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sub {
    margin: 8px 0;
}

.action {
    border-radius: 8px;
    border: none;
    font-weight: 700;
    padding: 10px 32px;
    font-size: 16px;
}

.input img {
    width: 350px;
    height: 200px;
}

.input .img-text {
    text-align: center;
}

/* infor section */

.details {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 32px;
}

.photo-text {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 32px;
    max-width: 170px;
}

.details img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.first, .second, .third, .fourth {
    max-width: 170px;
    text-align: center;
}

/* quote section */
.quote {
    background-color: #E5E7EB;
    padding: 20px 62px;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.quote p {
    font-size: 32px;
    color: black;
    font-weight: 700;
    text-align: right;
    padding-right: 52px;
}

/* call section */
.call {
    margin: 50px;
    padding: 36px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign {
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 700;
    padding: 8px 32px;
    font-size: 16px;
}

.my-call {
    font-size: 32px;
    font-weight: 700;
}

.more-action {
    font-size: 16px;
}

/* footer section */

.footer {
    color: white;
    padding: 52px;
    text-align: center;
}

/* the others */

.hero, .footer, .header {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.call, .action, .sign {
    background-color: #3882f6;
    color: white;
}